<form>
	<div class="form-group">
	<h2>Add New Clan:</h2>
		<label>Tag</label>
		{{input type="text" class="form-control" value=model.tag placeholder="Add Clan Tag..."}}
	</div>
	<div class="form-group">
		<label>Date Added</label>
		{{input type="date" class="form-control" value=model.date}}
	</div>
	<div class="form-group">
		<label>Who Added</label>
		{{textarea class="form-control" value=model.adderName placeholder="Your Name..."}}
	</div>
	<button {{action 'editClan' model.id}} class="btn btn-primary">Submit</button> 
</form>